DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=pos_system

DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=admin123

EMAIL_HOST=
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=
APP_URL=http://localhost:8000
